@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    background: url('../images/backgroundimage.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #ffffff;
};

.white-text-color {
    color: #ffffff!important;
}

.black-text-color {
    color: #000000!important;
}


.subtitle > p, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

#previous-search-area {
    list-style-type: none;
}

#previous-search-area a:hover {
    color: rgb(168, 168, 255);
    cursor: pointer;
}